.post-head {
  margin-top: $margin-primary;
}
.post-head .post-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post-head .post-info .post-title {
  margin-bottom: $margin-m-1;
}
.post-head .post-img {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.4));
  margin-top: $margin-l-1;
}
